invoke==0.12.0
hg+https://bitbucket.org/trytonspain/trytontasks-modules
hg+https://bitbucket.org/trytonspain/trytontasks-scm
hg+https://bitbucket.org/trytonspain/trytontasks-sao
psycopg2>=2.5.0
hgapi
blessings
genshi
bcrypt
path.py
python-sql>=0.6
polib
relatorio
PyWebDAV
fabric
paramiko>=1.16.0
Pillow
barcodenumber
pybarcode
vatnumber
chardet
easyimap
retrofix
slug
py-wikimarkup
htmlentity2ascii
feedparser
pyusb>=1.0.0b1
pyserial
python-stdnum
wtforms-recaptcha
Flask-Babel
Flask-WTF>=0.9.4
pyaml>=13.12.0
asm
correos
seur
seurvalencia
simpleeval
envialia
mrw
magento
pystashop
whoosh
cached-property
python-magic
jsonrpclib
emailvalid
PyPDF2
html2text
werkzeug
wrapt
dateutils
